<div class="container" style="min-height: 500px;">
  <h1>ログイン</h1>
  <% if flash[:danger] %>
    <ul class="alert alert-danger">
        <li><%= flash[:danger] %></li>
    </ul>
  <% end %>
  
  <%= form_for(:session, url:login_path) do |f| %>
    <div class="form-group">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <%= f.submit "ログイン", class: "btn btn-primary" %>
  <% end %>
</div>
